.bloc {
    margin: 0 auto;
    max-width: 1146px;
}

.bloc-text {
    display: block;
    position: absolute;
    text-shadow: 0 0 3px #ffffff;
    font-family: "bebas";
    letter-spacing: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bloc-d {
    display: block;
    position: relative;
    padding: 12px 12px 12px 12px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    min-height: 450px;
    max-width: 1146px;
}

.bloc-e {
    display: block;
    position: relative;
}

.bloc-f {
    place-content: center;
}

.bloc-e>img {
    box-shadow: 0 0 10px #0000008f;
    max-width: 100%;
}

.dof-item {
    padding: 6px;
    background: #00000073;
    margin-top: 12px;
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.do-item .dof-block-img {
    text-align: center;
}

.dof-item .dof-block-img .dof-img {
    background-image: url("../../public/images/dofus/sprite.png");
    background-repeat: no-repeat;
    background-size: 126px auto;
    width: 65px;
    height: 65px;
    position: relative;
    margin: 0 auto;
}

.dof-item .dof-title {
    font-size: 20px;
    color: #e4e4e4fa;
    line-height: 18px;
    padding: 6px 0 6px 0;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    font-family: "bebas", sans-serif;
}

.dof-item:hover,
.dof-item:focus {
    background: #8886865e;
}